.container3 {
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 0%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.frame {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  margin:1%;

  
}

.columna {
  margin: 10px;
  padding: 10px;
  
  border: 1px solid #000;
  border-radius: 35px;
  height: 100%;
  position: relative; /* Para posicionar TopLeftBox respecto a este elemento */
}

.columna1 {
  flex: 0.7;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.5); /* Gris semitransparente */
    backdrop-filter: blur(10px); /* Efecto borroso */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
  }

  .arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; 
  }

  .arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Asegúrate de que esté encima del video desenfocado */
  }

  .columna2 {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  
  .comments-container {
    overflow-y: auto;
  }

  .comment {
    border: 1px solid #ffbcbc;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ea3c5362;

    backdrop-filter: blur(0px);
    width: 100%;  /* adjust as needed */
    height: 100px; /* adjust as needed */
    overflow: hidden; /* hides content that is taller than the box */
    position: relative; /* allows us to position the "Ver más" button at the bottom of the box */
    word-wrap: break-word; /* ensures that long words don't overflow the box */
  }

.video2 {
  height: 100%;
  object-fit: cover; /* Asegura que el vídeo se ajuste, pero mantenga su aspecto */
}


.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}


.play-pause-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Estiliza el botón a tu gusto aquí. */
  z-index: 2; 
}

.video-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  z-index: 1;
}

.video-focused {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video {
  height: 100%;
  object-fit: contain;
  z-index: 2; 
}

.top-left-box {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 30px;
  background: rgba(128, 128, 128, 0.5); /* Gris semitransparente */
  backdrop-filter: blur(10px); /* Efecto borroso */
  z-index: 2; 
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* puedes ajustar este valor según tus necesidades */
  width: 100%; /* puedes ajustar este valor según tus necesidades */
  
  text-align: center;
  overflow: hidden;
}

.title {
  font-size: 2.5vw; /* puedes ajustar este valor según tus necesidades */

}



@media (max-width: 600px) {
  .frame {
      flex-direction: column;
      height: auto;
  }

  .columna {
      width: 100%;
  }

  .columna1, .columna2 {
      flex: none;
  }
}
