@font-face {
  font-family: 'FranklinAve';
  src: url('../Styles/FranklinAve.ttf') format('truetype');
}
.container {
  display: flex;
  flex-direction: column;
 
  /* height: 91.7vw; */
}
.container1 {
  /* background-image: url(../Multimedia/background1.png); */
  background-size: cover;
  background-repeat: repeat;
 
}


.video {
  min-height: 440px;
  height: calc(70vh - 80px); /* set a maximum height to match the parent container */
  max-width: auto; /* set a maximum width to match the parent container */
  object-fit: contain;
 margin-top: 10px;
  
  border-radius: 15px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.5);

  /* scale the video proportionally to fit within the parent container */
}

.like {
  width: 22px;


  /* move the container to the middle of the screen */
  /* adjust the position so that the container is centered */
}

.like-count {

  /* move the container to the middle of the screen */
   /* adjust the position so that the container is centered */
  color: black;
  font-size: 1vw;

  align-items: center;
  margin-top: -0px;
  margin-left: 0px;
}
.like-wrapper {
margin:10px;

  align-items:end;
  justify-content: end;


 flex-direction: column;
  
 
  
}

.arrow-container {
  display: flex;
  justify-content: space-between; /* distribute the arrows evenly within the container */
  position: absolute;
  top: 50%; /* move the container to the middle of the screen */
  transform: translateY(
    -50%
  ); /* adjust the position so that the container is centered */
  width: 100%;
}

.arrow {
  max-width: 10vh;

  display: flex;
  justify-content: space-between; /* distribute the arrows evenly within the container */
  position: absolute;
  top: 50%; /* move the container to the middle of the screen */
  transform: translateY(
    -50%
  ); /* adjust the position so that the container is centered */
  
}

.arrow-left {
  position: absolute;

  left: 10px;
}

.arrow-right {
  position: absolute;
  right: 10px;
}

.comment-container {
  background-color: #f2f2f2;
  padding: 20px;
}

.title {

 
/* adjust the position so that the title is centered */
  padding: 10px;
 max-width:35vw;
  margin: 10px;
  font-size: 4vw;
  font-family: 'FranklinAve', sans-serif;
  color: rgb(0, 0, 0);

}

.titleReto {

  
  font-family: 'FranklinAve', sans-serif;
  
}
.titleRetoRed {

  color:#EA3C53;
  font-family: 'FranklinAve', sans-serif;
  
}

.logob {
  /* position the title at the 3/10 part of the screen */
  
  height: 15vw; /* set the height to half of the viewport */

}

.comment-section {

  padding: 0px;
  border-radius: 20px;
  
  overflow-y: scroll;
  width: 100%; /* enable scrolling for the comment section */
  height: 30%;
  justify-content: space-between;
}
.comment {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border-radius: 10px;
  color: black;
}
.comment-header {
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .video {
    min-height: 300px;
  height: calc(70vh - 80px); /* set a maximum height to match the parent container */
  max-width: auto; /* set a maximum width to match the parent container */
  object-fit: contain;
 
  
  border-radius: 15px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.5);
    /* scale the video proportionally to fit within the parent container */
  }

  .arrow {
    max-width: 5vh;
  }
}
