.login-container {
    display: flex; /* Use flexbox to position the image and form side by side */
    align-items:center;
    justify-content: space-around;
    height: 91.6vh; /* Make the container take up the full height of the viewport */
    background-image: url(../Multimedia/background1.png);
    background-size: cover;
    background-repeat: repeat;
  
  }
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }

  .titulo {
    font-size: 40px;
    margin-bottom: 20px; /* Add some margin to the right of the image */
  }
  
  .texto {
    display: flex;
  justify-content: flex-start; /* or center */
  align-items: center;
  }
  .login-image {
    border-radius: 20px;
    width: 35%; /* Set the width of the image */
    margin: 20 px; /* Add some margin to the right of the image */
    
  }
  
.login-form {
    width: 100%;
    margin-left: 00px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .link-button {
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0%;
    
  }


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
    
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}





.p12 {
  color:  rgb(114, 114, 114);
  margin-top: 10px;
}

.loginpopup {
  background-color: #EA3C53;;
  color: #ffffff;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.loginpopup:hover {
  background-color:#992532;;
}