.loginpopup {
    background-color: #F59E0B;
    color: #000000;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
  }

  .loginpopup:hover {
    background-color: #C27803;
  }