.scrollable {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #666 #fff;
    
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }